@import "./variables";
@import "./base/common";

@import "./components/icons";
@import "./components/modal";
@import "./components/form";
@import "./components/buttons";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/advantage";
@import "./layout/activities";
@import "./layout/team";
@import "./layout/clients";
@import "./layout/footer";
@import "./layout/portfolio";
