.activities {
  display: none;

  @media screen and (min-width: $tablet) {
    display: none;
  }
  @media screen and (min-width: $desktop) {
    display: block;
    padding-bottom: 94px;
  }
  .activities-heading {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-dark-color;
    margin-bottom: 50px;
    margin-top: 0;
  }
  ul {
    display: flex;
    justify-content: space-between;
    .activities-thumb {
      position: relative;
      .activities-thumb-text {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 370px;
        height: 70px;
        background: rgba(47, 48, 58, 0.8);
        font-weight: bold;
        font-size: 14px;
        line-height: 1.143;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $main-light-color;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
