.form {
  height: 342px;
  margin: 0 auto;
  @media screen and (min-width: $mobile) {
    min-width: 370px;
  }
  @media screen and (min-width: $desktop) {
    min-width: 448px;
  }

  input:not([type="checkbox"]) {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;
    padding-left: 42px;
  }
  label {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    color: $main-gray-color;
  }
  .form-label {
    display: block;
    margin-bottom: 10px;
    svg {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);

      width: 18px;
      height: 18px;
    }
    .form-input-wrapper {
      display: block;
      position: relative;
      &:focus-within > .form-icon {
        fill: $accent-color;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:focus-within > .form-input {
        border: 1px solid $accent-color;
        outline: none;
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
  .form-textarea {
    display: block;
    margin-bottom: 20px;
    textarea {
      display: block;
      margin: 0;
      padding: 0;
      margin-top: 4px;
      height: 120px;
      width: 100%;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      resize: none;
      padding: 12px 16px;
    }
  }
}
.form-label-checkbox {
  display: inline-flex;
  align-items: center;
  align-self: center;
  margin-bottom: 30px;
  .form-input-checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    &:checked + .form-icon-checkbox {
      background-color: $accent-color;
      background-image: url(../images/modal-form-icon-check.svg);
      background-origin: border-box;
    }
  }
  .form-icon-checkbox {
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 4px;
    margin-right: 9px;
  }
  .form-input-checkbox:focus + .form-icon-checkbox {
    border-color: $accent-color;
  }
  .form-text-checkbox {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: $main-gray-color;
    margin: 0;
    @media screen and (min-width: $desktop) {
      font-size: 14px;
      line-height: 1.714;
    }
    a {
      color: $accent-color;
      text-decoration: underline;
      margin-left: 4px;
      @media screen and (min-width: $desktop) {
        margin-left: 9px;
      }
    }
  }
}
