body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  box-sizing: border-box;
}
.list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  display: block;
  text-decoration: none;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 480px;
  @media screen and (min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
