$accent-color: #2196f3;
$main-gray-color: #757575;
$main-dark-color: #212121;
$main-light-color: #ffffff;
$footer-link-gray-color: rgba(255, 255, 255, 0.6);
$total-black: #000000;
$bg-dark-color: #2f303a;
$bg-gray-light-color: #f5f4fa;
$border-light-gray-color: #eeeeee;
$fill-gray-color: #afb1b8;
$portfolio-info-thumb: rgba(33, 150, 243, 0.9);

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
